@using EPiServer.Globalization
@model EpiServerBlogs.Web.ViewModels.LoginPageViewModel



@using (Html.BeginForm(null, null, new {language = ContentLanguage.PreferredCulture.Name, Action = "LogIn"}))
{
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
            <div class="form-group">
                <div>
                    <label>
                        <span>User Name</span>
                        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>
                        <span>Password</span>
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" class="btn btn-primary" value="Login"/>
                    @Html.PageLink("Registration", Model.RegisterPageLink, null, new {@class = "btn btn-link"})
                </div>
            </div>
            @if (Model.ShowErrorMessage)
            {
                <div class="form-group">
                    <div>
                        <div class="alert alert-danger">
                            <span>@Model.ErrorMessage</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}