@model EpiServerBlogs.Web.ViewModels.CheckoutPageViewModel

<h2>Checkout</h2>

<div class="row">
    <div class="col-xs-12 col-md-4">
        <div>
            <h3>Cart Items</h3>
            @Html.Partial("PagePartials/CheckoutCartItems", Model.CartItemsViewModel)
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div>
            <h3>Shipping Methods</h3>
            @Html.Partial("PagePartials/CheckoutShippingMethods", Model.ShippingMethodsViewModel)
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div>
            <h3>Order Summary</h3>
            @Html.Partial("PagePartials/CheckoutOrderSummary", Model.OrderSummaryViewModel)
        </div>
    </div>
</div>