header {
    height: 200px;
    border-bottom: 3px dotted rgb(65, 117, 0);
}

footer {
    height: 200px;
    border-top: 3px dotted rgb(0, 65, 117);
}

.content {
    padding: 20px 0;
}

.blog-header {
    font-size: 14px;
}

.blog-author {
    font-size: 12px;
    font-style: italic;
    color: rgb(174, 185, 161);
}

.article-link * {
    margin: 0;
}

#comments-new {
    margin: 40px 0;
}

.old-comment {
    margin-bottom: 20px;
}

#comments-new input[type=submit] {
    margin-bottom: 10px;
}

#comments-new p {
    font-style: italic;
}

/* Commerce */
.fitted-image-wrapper img {
    max-width: 100%;
}

.category-image img {
    max-width: 100%;
}

.category-image {
    text-align: center;
}

.category-summary {
    text-align: center;
}

.category, .subcategories {
    margin-bottom: 20px;
}

.panel-subcategory, 
.panel-category-product {
    min-height: 300px;
}

.panel-subcategory > .panel-subcategory-name-wrapper,
.panel-category-product > .panel-category-product-name-wrapper {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

.panel-subcategory > .panel-subcategory-image-wrapper,
.panel-category-product > .panel-category-product-image-wrapper {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

.panel-subcategory > .panel-subcategory-image-wrapper img,
.panel-category-product > .panel-category-product-image-wrapper img {
    max-width: 100%;
    padding: 4px;
    display: inline-block;
}

.variation-mini {
    margin: 5px;
}

.variation-mini img {
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 2px grey solid;
}

.variation-mini img:hover {
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 4px goldenrod solid;
}

.description {
    margin-top: 20px;    
}

.highlight {
    text-align: justify;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.cart-dropdown {
    margin-right: 5px;
    margin-top: 5px;
}

.checkout-variation-mini {
    width: 100px;
    border: 2px grey solid;
}