header {
    height: 200px;
    border-bottom: 3px dotted rgb(65, 117, 0);
}

footer {
    height: 200px;
    border-top: 3px dotted rgb(0, 65, 117);
}

.content {
    padding: 20px 0;
}

.blog-header {
    font-size: 14px;
}

.blog-author {
    font-size: 12px;
    font-style: italic;
    color: rgb(174, 185, 161);
}

.article-link * {
    margin: 0;
}

#comments-new {
    margin: 40px 0;
}

.old-comment {
    margin-bottom: 20px;
}

#comments-new input[type=submit] {
    margin-bottom: 10px;
}

#comments-new p {
    font-style: italic;
}