@model EpiServerBlogs.Web.Models.Blocks.BlogBlock

<div class="col-xs-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title blog-header">@Model.BlogHeader</span>
            <br/>
            <span class="blog-author">(@Model.BlogAuthor)</span>
        </div>

        <!-- List group -->
        <ul class="list-group">
            @Html.PropertyFor(m => m.ArticlesContentArea)
        </ul>
    </div>
</div>