@model EpiServerBlogs.Web.ViewModels.Checkout.CheckoutOrderSummaryViewModel

<div class="row">
    <div class="col-xs-12">
        <div>
            <div>
                <b>SubTotal:&nbsp;@Model.DisplaySubTotal</b>
            </div>
            <div>
                <b>Discount:&nbsp;@Model.DisplayDiscount</b>
            </div>
            <div>
                <b>Shipping:&nbsp;@Model.DisplayShipping</b>
            </div>
            <hr/>
            <div>
                <b>Total:&nbsp;@Model.DisplayTotal</b>
            </div>
        </div>
    </div>
</div>