@model EpiServerBlogs.Web.ViewModels.Partial.TopLinksPartialViewModel

@if (Model.IsLoginPage)
{
    return;
}

<div>
    @if (Model.IsAuthenticated)
    {
        <div class="pull-right">
            @Html.PageLink("Log Out", Model.LoginPageLink, new { language = Model.Language, Action = "LogOut" }, null)
        </div>
        <div class="pull-right">
            <span>&nbsp;</span>
        </div>
        <div class="pull-right">
            @Html.PageLink(Model.UserName, Model.AccountPageLink, null, new { @class = "btn btn-link" })
        </div>
    }
    else
    {
        <div class="pull-right">
            @Html.PageLink("Log In", Model.LoginPageLink, new { language = Model.Language, Model.ReturnUrl }, null)
        </div>
    }
</div>